In [22]:
import pandas as pd
import numpy as np

In [23]:
steady = pd.read_excel('steady.xlsx')
print(steady.shape)
print(steady.columns)
steady.head(2)

(1515, 10)
Index(['순위', '서명', '저자', '출판사', '출판년도', '권', 'ISBN', 'ISBN부가기호', 'KDC',
       '대출건수'],
      dtype='object')

,순위,서명,저자,출판사,출판년도,권,ISBN,ISBN부가기호,KDC,대출건수
0,1,Learn to Read With Tug the Pup and Friends! Bo...,"Wood, Julie M.|Braun, Sebastien (ILT)",HarpercollinsChildrensBooks,2014,NaN,9780062266897,NaN,NaN,56
1,2,나미야 잡화점의 기적 :히가시노 게이고 장편소설,지은이: 히가시노 게이고 ;옮긴이: 양윤옥,현대문학,2012,NaN,9788972756194,3830.0,833.6,18

In [24]:
df = steady.loc[:,['서명','ISBN','대출건수']]
df.head()

                                                  서명           ISBN  대출건수
0  Learn to Read With Tug the Pup and Friends! Bo...  9780062266897    56
1                        나미야 잡화점의 기적 :히가시노 게이고 장편소설   9788972756194    18
2  My Weirdest School 12-Book Box Set: Books 1-12...  9780062878922    16
3                                82년생 김지영 :조남주 장편소설   9788937473135    15
4                                빈대 가족의 절약 그것이 알고 싶다  9788960244375    15

In [25]:
steady = df.groupby(['서명','ISBN'])['대출건수'].sum()

In [70]:
steady = pd.DataFrame(steady).reset_index()
steady = steady.sort_values(by='대출건수',ascending=False)
steady.to_csv('steady_byCount.csv',index=False,encoding='utf-8')

In [97]:
gender = pd.read_excel('gender.xlsx')
print(gender.shape)
print(gender.columns)
gender.head(2)

(2889, 7)
Index(['순위', 'ISBN', '서명', 'ISBN부가기호', 'KDC', '대출건수', '성별'], dtype='object')

,순위,ISBN,서명,ISBN부가기호,KDC,대출건수,성별
0,1,9780062266897,Learn to Read With Tug the Pup and Friends! Bo...,NaN,NaN,22,남성
1,2,9788950982188,Go go 카카오 프렌즈 :세계 역사 문화 체험 학습만화,74900.0,980.2,8,남성

In [98]:
gender = gender.loc[:,['ISBN', '서명', '대출건수', '성별']]

In [99]:
gender = pd.pivot_table(gender,values='대출건수',index=['ISBN','서명'],columns='성별').fillna(0).reset_index()
gender.head()

성별           ISBN                                                 서명   남성   여성
0          125669                               David Walliams 소설 8종  7.0  0.0
1   8809254941501  365 하루에 하나씩 레고 아이디어 북 - 작품 만들기, 흥미진진 게임, 시간 제한...  3.0  1.0
2   8809611350441                                        집중력 미로찾기 공룡  0.0  1.0
3   9780000148421                           노부영 세이펜 How Do You Feel?  1.0  0.0
4   9780007122721                      Hitler's Daughter (Paperback)  1.0  0.0

In [101]:
gender['sep'] = '여성'

In [103]:
gender['sep'] = np.where(gender['남성']>gender['여성'],'남성','여성')

In [105]:
gender.to_csv('steady_byGender.csv',index=False,encoding='utf-8')

In [123]:
steady.head()
steady = steady.loc[:,['서명','ISBN','대출건수']]

In [124]:
gender.head()
gender['대출건수'] = gender[['남성','여성']].sum(axis=1)
gender.drop(columns=['남성','여성'],inplace=True)

KeyError: "None of [Index(['남성', '여성'], dtype='object', name='성별')] are in the [columns]"

In [125]:
merge = pd.merge(steady,gender,how='outer',on='ISBN')
merge.columns

Index(['서명_x', 'ISBN', '대출건수_x', '서명_y', 'sep', '대출건수_y'], dtype='object')

In [129]:
merge.drop(columns=['서명_x','대출건수_x'],inplace=True)

In [134]:
merge.to_csv('finding_books_proto.csv', index=False, encoding='utf-8')